services: docker
language: python
python:
  - "3.6"

env:
  matrix:
    - ARCH=i386
    - ARCH=amd64
    - ARCH=arm
    - ARCH=aarch64

before_script:
  - ./build.sh $ARCH
  - docker run --rm --privileged multiarch/qemu-user-static:register --reset

script:
  - docker build -t $DOCKER_USER/github-backup:$ARCH -t $DOCKER_USER/github-backup:$ARCH.$TRAVIS_BUILD_NUMBER --file Dockerfile.$ARCH .
  - if ! docker run -d --name=github-backup-$ARCH $DOCKER_USER/github-backup:$ARCH --version; then exit 1; fi

deploy:
  provider: script
  script:
    - echo "$DOCKER_PWD" | docker login -u "$DOCKER_USER" --password-stdin
    - docker push $DOCKER_USER/github-backup:$ARCH
    - docker push $DOCKER_USER/github-backup:$ARCH.$TRAVIS_BUILD_NUMBER
  on:
    branch: master
